.App {
  text-align: center;
}
div.container-md{
  border-radius: 35px 10px 35px 10px;
  display: flex;
  position: relative;
  margin: auto;
  margin-left: 8%;
  margin-right: 3%;
  margin-top: 5px;
  background-color: bisque;
  border:1px solid yellow;
  clear:both;
  float: left;
  width: 100%;

}
div {
    margin:auto;
}
.ana{
  width: 60%;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 500px) {
  
  .ana,.metin {
      width: 100%;
  }
}
.metin{
  display: inline-block;
  width: 78%;
  margin: auto;
  position: relative;
  margin-top: 50px;
  color:white;
  background-color:indigo;
  border-radius: 10px 15px 10px 15px;
  border: 2px solid red;
  float: left;
}
.btn-success{
  margin-left: 180px;
  margin-top: 5px;
  width: 150px;
  margin-bottom: 5px;
  border-radius: 5px 10px 5px 10px;
}
body{
  background-color: teal;
}
#img{
  border: 2px solid red;
  border-radius: 15px 10px 15px 10px;
  height: 520px;
  width: 500px;
  margin-bottom: 1%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
