.App {
  text-align: center;
}
div.container{
  position: relative;
  margin: auto;
  width: 100%;
  margin-top: 5px;
  background-color: bisque;
  display: flex;
  border:1px solid yellow;
  clear:both;
  float: left;

}
div {
    margin:auto;
}
.ana{
  width: 40%;
  display: inline-block;
  width: 60%;
  position: relative;
}
@media screen and (max-width: 50%) {
  
  .ana,.metin {
      width: 70%;
  }
}
.metin{
  display: inline-block;
  width: 60%;
  margin: auto;
  position: relative;
  margin-top: 60px;
  color:white;
  background-color:indigo;
  border-radius: 10px 15px 10px 15px;
  border: 2px solid red;
  float: left;
}
.btn-success{
  margin-left: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px 10px 5px 10px;
}
body{
  background-color: teal;
}
#img{
  border: 2px solid red;
  border-radius: 15px 10px 15px 10px;
  height: 580px;
  width: 570px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
